
*{
	color: white;
    	font-family: "JetBrainsMono Nerd Font", "FiraCode Nerd Font", sans-serif;
    	font-size: 12px;
}

#waybar {
    background: black;
    padding: 0px;
    margin: 0px;
}

#workspaces, #clock, #bluetooth, #custom-brightness {
    padding: 0px 5px;
    font-size: 12px;
}

#workspaces {
	background: gray;
	border-radius: 0px;
	font-size: 10px;
}

#clock {
	background: transparent;
	font-size: 16px;
	font-family: monospace;
}

#workspaces button {
    color: black;
    background: transparent;
    border: none;
}

#workspaces button.active {
    color: #ffcc00; 
    font-weight: bold;
    background-color: rgba(255, 255, 0, 0.2);
    border-radius: 0px;
}

#workspaces button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
